body {
    background-image: url("back.jpg");
}
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    text-align: center;
    background-color: white;
}
table {
    margin-bottom: 10px;
}
th, td {
    padding: 5px;
}
#container {
    width: 1000px;
    margin: 0px auto;
    
}
#header {
    min-width: 650px;
    max-width: 1000px;
    background-image: url("panorama.jpg");
    padding: 10px 0px;
    margin-bottom: 10px;
}
#title {
    width: 85%;
    padding-left: 20px;
}
#logo {
    margin: 10px 0px;
}
.left {
    float: left;
}
.right {
    float: right;
}
.clear {
    clear: both;
}
.box {
    width: 450px;
    background-color: #CECECE;
    margin: 10px 0px;
    padding: 10px 20px;
}

